.drawer{
    color:gray; 
    width: 300px;
    box-shadow: 0px 8px 8px -8px gray;
    border: 1px solid #38c;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}
.title{
    color:#38c;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 8px;
}
#svgHolder{
    border: #38c 1px solid;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
svg{
    border: 1px solid red;
}